:root {
  --syntax_normal: #1b1e23;
  --syntax_comment: #a9b0bc;
  --syntax_number: #20a5ba;
  --syntax_keyword: #c30771;
  --syntax_atom: #10a778;
  --syntax_string: #008ec4;
  --syntax_error: #ffbedc;
  --syntax_unknown_variable: #838383;
  --syntax_known_variable: #005f87;
  --syntax_matchbracket: #20bbfc;
  --syntax_key: #6636b4;
  --selection: #d7d4f0;
  --mono_fonts: 14px/1.5 Menlo, Consolas, monospace;
}


.Observable {
  font: 17px/1.5 "Iowan Old Style", "Apple Garamond", Baskerville,
    "Palatino Linotype",
    "Times New Roman", "Droid Serif", Times, "Source Serif Pro", serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  color: #1b1e23;
}

.Observable h1,
.Observable h2,
.Observable h3,
.Observable h4,
.Observable h5,
.Observable h6 {
  color: #333;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  line-height: 1.15;
  margin: 0;
}

.Observable h2 ~ p,
.Observable h3 ~ p,
.Observable h4 ~ p {
  margin-top: 0;
}

.Observable a[href] {
  text-decoration: none;
}

.Observable a[href]:hover {
  text-decoration: underline;
}

.Observable h1 code,
.Observable h2 code,
.Observable h3 code,
.Observable h4 code,
.Observable h5 code,
.Observable h6 code {
  font-size: 90%;
}

.Observable pre,
.Observable code,
.Observable tt {
  font: var(--mono_fonts);
}

.Observable img {
  max-width: calc(100vw - 28px);
}

.Observable p,
.Observable .katex-display {
  max-width: 640px;
}

.Observable blockquote,
.Observable ol,
.Observable ul {
  max-width: 600px;
}

.Observable hr {
  height: 1px;
  margin: 1em 0;
  padding: 1em 0;
  border: none;
  background: no-repeat center/100% 1px linear-gradient(to right,rgba(0,0,0,.05),rgba(0,0,0,.05));
}

.Observable pre {
  padding: 2px 0;
}

.Observable input:not([type]),
.Observable input[type=email],
.Observable input[type=number],
.Observable input[type=password],
.Observable input[type=range],
.Observable input[type=search],
.Observable input[type=tel],
.Observable input[type=text],
.Observable input[type=url] {
  width: 320px;
}

.Observable input,
.Observable canvas {
  vertical-align: middle;
}

.Observable table {
  width: 100%;
  max-width: 640px;
  border-collapse: collapse;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 14px;
}

.Observable th {
  text-align: left;
}

.Observable tr:not(:last-child) {
  border-bottom: solid 1px #eee;
}

.Observable thead tr {
  border-bottom: solid 1px #ccc;
}

.Observable--expanded,
.Observable--collapsed,
.Observable--function,
.Observable--import,
.Observable--string:before,
.Observable--string:after,
.Observable--gray {
  color: var(--syntax_normal);
}

.Observable--collapsed,
.Observable--inspect a {
  cursor: pointer;
}

.Observable--field {
  text-indent: -1em;
  margin-left: 1em;
}

.Observable--empty {
  color: var(--syntax_comment);
}

.Observable a[href],
.Observable--keyword,
.Observable--blue {
  color: #3182bd;
}

.Observable--forbidden,
.Observable--pink {
  color: #e377c2;
}

.Observable--orange {
  color: #e6550d;
}

.Observable--null,
.Observable--undefined,
.Observable--boolean {
  color: var(--syntax_atom);
}

.Observable--number,
.Observable--date,
.Observable--regexp,
.Observable--symbol,
.Observable--green {
  color: var(--syntax_number);
}

.Observable--index,
.Observable--key {
  color: var(--syntax_key);
}

.Observable--empty {
  font-style: oblique;
}

.Observable--string,
.Observable--purple {
  color: var(--syntax_string);
}

.Observable--error,
.Observable--red {
  color: #e7040f;
}

.Observable--inspect {
  font: var(--mono_fonts);
  overflow-x: auto;
  display: block;
  padding: 6px 0;
  white-space: pre;
}

.Observable--error {
  border-left-color: #e7040f;
}

.Observable--error .Observable--inspect {
  word-break: break-all;
  white-space: pre-wrap;
}

.Observable--running,
.Observable--changed {
  border-left-color: hsl(217, 13%, 70%);
}
